html {
  height: 100%;
}

.body {
  font: 14px "Centruy Gothic", Futura, sans-serif;
  margin: 20px;
}

ol {
  list-style-type: none;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

li {
  list-style-type: none;
  display: inline-block;
}

.board-row {
  margin-left: 30%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  padding-top: 1px;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
}

.game-info {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}

.status {
  margin-bottom: 10px;
}

.square:hover {
  background: cyan;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 10vw;
  font-weight: bold;
  line-height: 34px;
  height: 15vw;
  /* margin-right: -1; */
  /* margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 15vw;
}

.winning-square {
  background: #999;
  border: 1px solid black;
  float: left;
  font-size: 10vw;
  font-weight: bold;
  line-height: 34px;
  height: 15vw;
  /* margin-right: -1px; */
  /* margin-top: -1px; */
  padding: 0;
  text-align: center;
  width: 15vw;
}